<a href="https://colab.research.google.com/github/SKS200/Machine-Learning-projects/blob/main/Movie_Recommendation_System_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Data Collection and Pre-Processing

In [ ]:
# loading the data from the csv file to apandas dataframe
movies_data = pd.read_csv('/content/movies.csv')

In [ ]:
# printing the first 5 rows of the dataframe
movies_data.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [ ]:
# number of rows and columns in the data frame

movies_data.shape

(4006, 24)

In [ ]:
# selecting the relevant features for recommendation

selected_features = ['genres','keywords','tagline','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [ ]:
# replacing the null valuess with null string

for feature in selected_features:
  movies_data[feature] = movies_data[feature].fillna('')

In [ ]:
# combining all the 5 selected features

combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['tagline']+' '+movies_data['cast']+' '+movies_data['director']

In [ ]:
print(combined_features)

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4001    Comedy Drama  At this wedding, the F-word stan...
4002    Adventure Action Thriller Crime terror scotlan...
4003    Comedy Fantasy Science Fiction loser bullying ...
4004    Drama alcohol adultery river camping province ...
4005                  Drama Comedy History Music usa c
Length: 4006, dtype: object

In [ ]:
# converting the text data to feature vectors

vectorizer = TfidfVectorizer()

In [ ]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [ ]:
print(feature_vectors)

  (0, 1955)	0.17363537622664418
  (0, 6371)	0.11411807704769879
  (0, 10703)	0.19597322215743532
  (0, 8396)	0.16081735626881957
  (0, 7186)	0.2280178333863859
  (0, 12012)	0.15250987894092596
  (0, 13732)	0.19833537751483837
  (0, 11558)	0.20363568175644384
  (0, 10938)	0.21173847663613318
  (0, 14250)	0.20363568175644384
  (0, 14029)	0.23465122592308943
  (0, 10963)	0.14848067575026655
  (0, 9425)	0.27096707433134043
  (0, 9174)	0.0905883257461488
  (0, 14021)	0.12639094266270806
  (0, 12557)	0.07013976904043923
  (0, 4026)	0.2385446748787228
  (0, 11732)	0.21362791143827267
  (0, 2600)	0.24805432504438424
  (0, 13661)	0.12346842035192318
  (0, 11824)	0.33658428393263456
  (0, 4789)	0.16545702449172922
  (0, 2470)	0.2280178333863859
  (0, 2984)	0.2280178333863859
  (0, 4445)	0.10382725796855775
  :	:
  (4003, 4445)	0.10873360357418785
  (4003, 11170)	0.10873360357418785
  (4003, 4302)	0.11353517645609869
  (4004, 13448)	0.2500967609748299
  (4004, 12000)	0.2500967609748299
  (4004, 275)	0.2500967609748299
  (4004, 6860)	0.2500967609748299
  (4004, 4145)	0.2500967609748299
  (4004, 10665)	0.2500967609748299
  (4004, 7713)	0.2500967609748299
  (4004, 10101)	0.2383090561091551
  (4004, 359)	0.45989109281568075
  (4004, 3907)	0.21367636414174243
  (4004, 1964)	0.22994554640784037
  (4004, 6848)	0.22994554640784037
  (4004, 7008)	0.22345830429262292
  (4004, 227)	0.16688669289254587
  (4004, 10655)	0.18788063479318706
  (4004, 349)	0.16374070135668353
  (4004, 3662)	0.05067364327738894
  (4005, 8779)	0.5117127233924189
  (4005, 13362)	0.6345493406473827
  (4005, 5806)	0.47815548674936703
  (4005, 2621)	0.24597774687947183
  (4005, 3662)	0.21531256705975177

Cosine Similarity

In [ ]:
# getting the similarity scores using cosine similarity

similarity = cosine_similarity(feature_vectors)

In [ ]:
print(similarity)

[[1.         0.06978209 0.03648781 ... 0.03488762 0.         0.        ]
 [0.06978209 1.         0.03150954 ... 0.01077485 0.         0.        ]
 [0.03648781 0.03150954 1.         ... 0.         0.         0.        ]
 ...
 [0.03488762 0.01077485 0.         ... 1.         0.         0.01695637]
 [0.         0.         0.         ... 0.         1.         0.01091067]
 [0.         0.         0.         ... 0.01695637 0.01091067 1.        ]]

In [ ]:
print(similarity.shape)

(4006, 4006)

Getting the movie name from the user

In [ ]:
# getting the movie name from the user

movie_name = input(' Enter your favourite movie name : ')

In [ ]:
# creating a list with all the movie names given in the dataset

list_of_all_titles = movies_data['title'].tolist()
print(list_of_all_titles)